/* Cursos.module.css */
.mainContainer {
  width: 90%;
  height: 90vh;
}
.menuContainer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 90%;
}
.page {
  display: flex;

  width: 90%;
  padding: 20px;
  align-items: center;
  border-radius: 5px;
  background-color: #2b2d3b;
}

.sidebar {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding: 20px;
  background-color: #2b2d3b;
  border-radius: 5px;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.submenu {
  padding: 20px;
  display: flex;
}
.subPhoto {
  cursor: pointer;
}

.selectedCursoContent {
  text-align: center;
  margin-left: 20px;
  min-width: 720px;
}

.cursomenu {
  background-color: #d3d6da;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  color: #2b2d3b;
}

.titleCurso {
  color: #eaecee;
  margin-bottom: 10px;
  background-color: #3b3737;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
.info {
  background-color: #17212c;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  height: 500px;
}
.titleInfo {
  color: #fff;
  background-color: #0f0f0f;
  text-align: center;
  font-size: 1em;
  padding: 5px;
}
.descInfo {
  font-size: 0.8em;
  color: #a7a6a6;
  font-family: Arial, Helvetica, sans-serif;

  margin-bottom: 100px;
}
.info a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.welcome {
  margin-left: 20px;
  background-color: #14181e;
  width: 100%;

  height: 100%;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

@media screen and (max-width: 1100px) {
  .submenu {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    display: flex;
  }
}

@media screen and (max-width: 800px) {
  .imgWelcome {
    width: 300px;
    height: 100%;
  }
}
@media screen and (max-width: 500px) {
  .imgWelcome {
    width: 200px;
    height: 100%;
  }
}
