/* Cursos.module.css */
.mainContainer {
  width: 90%;
  height: 90vh;
}
.menuContainer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
  
}
.page {
  display: flex;
  width: 100%;
  padding: 20px;
  align-items: center;
  border-radius: 5px;
  background-color: #2b2d3b;
}

.sidebar {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding: 20px;
  background-color: #2b2d3b;
  border-radius: 5px;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.submenu {
  padding: 20px;
  display: flex;

  
}
.subPhoto {
  cursor: pointer;
  
}

.selectedCursoContent {
  text-align: center;
  margin: auto;
  padding: 20px;
  width: 68vw;
  
}



.cursomenu {
  background-color: #d3d6da;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  color: #2b2d3b;
  height: 100%;
}

.titleCurso {
  color: #eaecee;
  margin-bottom: 10px;
  background-color: #3b3737;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
.info {
  background-color: #2B2D3B;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
  width: 100%;
  height: 500px;
  
  
}
.titleInfo {
  color: #fff;
  background-color: #5218d8;
  text-align: center;
  font-size: 1em;
  padding: 5px;
  border-radius: 15px;
  max-width: 300px;
  margin: auto;
  margin-bottom: 20px;
}
.descInfo {
  font-size: 0.8em;
  color: #0c0c0c;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 20px;
  font-size: 1em;
  margin: auto;
  width: 90%;
  background-color: #fcfcfc;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  min-height: 200px;
  text-align: center;

}
.info a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.welcome {
  margin-left: 20px;
  background-color: #14181e;
  width: 100%;
  height: 100%;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.git {
  margin-top: 20px;
  background-color:#5218d8;
  border-radius: 10px;
  padding: 10px;
  color: #eaecee;
  margin: auto;
  margin-top: 20px;
}

@media screen and (max-width: 1100px) {
  .submenu {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    display: flex;
  }
}


@media screen and (max-width: 800px) {
  .imgWelcome {
    width: 300px;
    height: 100%;
  }
}
@media screen and (max-width: 500px) {
  .imgWelcome {
    width: 200px;
    height: 100%;
  }
}
