.container {
  margin-top: 50px;
  background-color: #14181e;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #161f27;
  border-radius: 5px;
  padding: 10px;
}

.form {
  margin-top: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.inputContainer label {
  margin-bottom: 5px;
}

.input {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.submitButton {
  margin-top: 15px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #0056b3;
}
